<app-loader [class.hide]="isAvailable" [style.transitionDelay]="isAvailable ? '.5s' : '1s'"></app-loader>
<div ngClass="paint__container" *ngIf="isAvailable">
    <img [src]="tableau.imageUrl" alt="{{tableau.title}} by {{tableau.artist}}" ngClass="paint__image">
    <div ngClass="paint__about">
        <ul>
            <li>Title : {{tableau.title}}</li>
            <span></span>
            <li>Author : {{tableau.artist}}</li>
            <span></span>
            <li>Nationality : {{tableau.artistNationality}}</li>
            <span></span>
            <li>Painted in : <time [dateTime]="tableau.date">{{tableau.date}}</time></li>
            <span></span>
            <li>More about the paint : <a [href]="tableau.moreAbout" ngClass="paint__visit" target="_blank">Visit</a></li>
        </ul>
    </div>
</div>
