@use '../../../../../styles.scss' as *;

.introduction{
    &__title{
        width: fit-content;
        display: flex;
        flex-direction: column;
        font-size: $about-title;
        margin: auto;
        &__underline{
            height: 2px;
            background-color: $darker-color;
            animation: underlineAppear 1s 1.5s ease-in-out backwards;
        }
    }
    &__paragraph{
        font-size: $about-paraph;
    }
}