<h2 ngClass="introduction__title">Unveiling the hidden magic</h2>
<div ngClass="introduction__paragraph">
    <p>
        Welcome to Art Hover! This page is dedicated to introducing you to this website and providing you with an overview of its concept and functionality. <br/>
        Beyond discovering the features of this (tiny) application, you can find some informations about the Metropolitan Museum, which provides open access to its database
        and serves as the foundation for Art Hover. <br/>
        This website is a project that has allowed me to deepen my technical skills while sharing my passion for art
    </p>
</div>