<div ngClass="arrow" id="arrowControl" aria-controls="primary-navigation" aria-expanded="true" data-visible="true" (click)="hideMenu()">
    <img src="../../../../assets/icons/arrow-down-sign-to-navigate.png" alt="arrow of navigation menu">
</div>
<header id="headerMenu" aria-expanded="true" data-visible="true">
    <div ngClass="logo__container">
        <span ngClass="logo__item" data-color="false" (click)="homecoming()" id="logoItem">Art Hover</span>
    </div>
    <button id="toggleButton" (click)="toggleNav()" ngClass="mobileNavToggle" aria-controls="primary-navigation" aria-expanded="false" data-visible="false">
        <span class="toggle__line"></span>
        <span class="toggle__line"></span>
        <span class="toggle__line"></span>
    </button>
    <nav ngClass="navBar nav" id="navBar">
        <ul id="primary-navigation" data-visible="false" ngClass="nav__list" (mouseenter)="backgroundMove()">
            <li ngClass="nav__item" >
                
                <a routerLink="/" routerLinkActive="active" ngClass="nav__link"><span ngClass="nav__link__hover" aria-hidden="true">Home</span>Home</a>             
            </li>
            <li ngClass="nav__item">
                <a routerLink="/galery" routerLinkActive="active" ngClass="nav__link"><span ngClass="nav__link__hover" aria-hidden="true">Galery</span>Galery</a> 
            </li>
            <li ngClass="nav__item">
                <a routerLink="/informations" routerLinkActive="active" ngClass="nav__link"><span ngClass="nav__link__hover" aria-hidden="true">About</span>About</a> 
            </li>
            <div ngClass="nav__list__points"></div>
            <div ngClass="nav__list__background" id="background__menu"></div>
        </ul>
    </nav>
</header>