<h2 ngClass="museum__title">The Metropolitan Museum of Art and its database</h2>
<div ngClass="museum__paragraph">
    <p>
        The Metropolitan Museum of Art, commonly known as "the MET", is one of the world's largest and comprehensive art museums. Founded in <time [dateTime]="1870">1870</time>, it has amassed
        a collection of two million works of art from alla round the world. Its physical galleries is not the only access to MET collection and the MET offers access to its API, which provides
        free and open access to data and images for 470,000 artworks. This allows developers, like me, researchers and art enthusiasts to explore and use the Metropolitan Museum's collection in innovative ways.
    </p>
</div>