<h2 ngClass="author__title">Developer of Art Hover</h2>
<div ngClass="author__paragraphe">
    <p>
       I need to introduce myself as the developer of Art Hover. My name is Yan and a 29-year-old junior Front-End developer. <br/>
       I am constantly seeking to improve my skills and knowledge and Art Hover provided me the perfect opportunity to both have fun and further my understanding of Angular. <br/>
       If you are interested in following my progress and checking out my other projects, feel free to visit <span><a href="https://www.yrdev.fr" target="_blank">my website</a></span>
    </p>
</div>