<h2 ngClass="website__title">How does it works ?<div class="website__title__underline"></div></h2>
<div ngClass="website__paragraph">
    <p>
        Art Hover was designed using Angular, a front-end development framework that allowed me to create a seamless and user-friendly experience. <br/>
        The key feature of this website is the random layout of tiles on the home screen. Hover any tile of your choice and gain access to a preview of a paint. Click on it and you
        are redirect to its own explanatory sheet. <br/>
        The 15 artworks displayed on the home screen are chosen randomly from the Metropolitan Museum database and change with every page refresh, ensuring a unique and dynamic expercience with every visit.
        For those who want to appreciate each artwork in full, you can find a gallery within the correspond tab. It allows you to discover another immersive experience. <br/>
        The mobile version of Art Hover offers a new and exciting way to explore the application, with a unique design and features that are tailored specifically for smaller screens

    </p>
</div>