*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-variation-settings: 'wght' 700;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f6eee8;
}

//fonts

@font-face {
    font-family: 'DancingScript';
    src: url('./assets/fonts/DancingScript-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('./assets/fonts/Poppins-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Poppins-Light';
    src: url('./assets/fonts/Poppins-Light.ttf');
    font-weight: light;
}


//colors

$main-color: #F1FAEE;
$secondary-color: #457B9D;
$darker-color: #1D3557;
$lighter-color: #A8DADC;
$third-color: #E63946;

//sizes

$navbar-height: 5rem;
$about-paint-size: clamp(1rem, 2vw, 1.1rem);
$about-title: clamp(1.2rem, 3vmin, 1.4rem);
$about-paraph: clamp(.9rem, 2.5vmin, 1.1rem);

//timings


//loading animation speed
$speed: 2.5s;

//keyframes

//appearance of painting

@keyframes fadeIn {
  from{
      opacity: 0;
      transform: translateY(20%);
  }
  to{
      opacity: 1;
      transform: translateY(0);
  }    
}

//loading animation keyframes

@keyframes load {
  0% {
    background: $darker-color;
    margin-top: 25%;
    height: 10%;
  }
  50% {
    background: $lighter-color;
    height: 100%;
    margin-top: 0%;
  }
  100% {
    background: $darker-color;
    height: 10%;
    margin-top: 25%;
  }
}

//appereance of introductions paragraph underline

@keyframes underlineAppear {
  from{
      width: 0%;
      opacity: 0;
  }
  to{
      width: 100%;
      opacity: 1;
  }
}

//hide class to be used by loading animation

.hide{
  opacity: 0;
  transition: all 1s ease-in-out;
}