*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-variation-settings: 'wght' 700;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f6eee8;
}

//fonts

@font-face {
    font-family: 'DancingScript';
    src: url('./assets/fonts/DancingScript-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('./assets/fonts/Poppins-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Poppins-Light';
    src: url('./assets/fonts/Poppins-Light.ttf');
    font-weight: light;
}


//colors

$main-color: #F1FAEE;
$secondary-color: #457B9D;
$darker-color: #1D3557;
$lighter-color: #A8DADC;
$third-color: #E63946;

//sizes

$navbar-height: 5rem;
$about-size: clamp(1rem, 2vw, 1.1rem);

//timings


//loading animation speed
$speed: 2.5s;

//keyframes

//appearance

@keyframes fadeIn {
  from{
      opacity: 0;
      transform: translateY(20%);
  }
  to{
      opacity: 1;
      transform: translateY(0);
  }    
}

//loading animation keyframes

@keyframes load {
  0% {
    background: $darker-color;
    margin-top: 25%;
    height: 10%;
  }
  50% {
    background: $lighter-color;
    height: 100%;
    margin-top: 0%;
  }
  100% {
    background: $darker-color;
    height: 10%;
    margin-top: 25%;
  }
}

// loader

.loader.hide {
  opacity: 0;
}

.loader {
position: absolute;
top: 50vh;
left: 50vw;
transform: translate(-50%,-50%);
margin: auto;
width: 175px;
height: 100px;
opacity: 1;
z-index: 2;
transition: opacity 1s ease-in-out;
span {
  display: block;
  background: $third-color;
  width: 7px;
  height: 10%;
  border-radius: 14px;
  margin-right: 5px;
  float: left;
  margin-top: 25%;
    &:last-child {
      margin-right: 0px;
    }
    &:nth-child(1) {
      animation: load $speed 1.4s infinite linear;
    }
    &:nth-child(2) {
      animation: load $speed 1.2s infinite linear;
    }
    &:nth-child(3) {
      animation: load $speed 1s infinite linear;
    }
    &:nth-child(4) {
      animation: load $speed 0.8s infinite linear;
    }
    &:nth-child(5) {
      animation: load $speed 0.6s infinite linear;
    }
    &:nth-child(6) {
      animation: load $speed 0.4s infinite linear;
    }
    &:nth-child(7) {
      animation: load $speed 0.2s infinite linear;
    }
    &:nth-child(8) {
      animation: load $speed 0s infinite linear;
    }
    &:nth-child(9) {
      animation: load $speed 0.2s infinite linear;
    }
    &:nth-child(10) {
      animation: load $speed 0.4s infinite linear;
    }
    &:nth-child(11) {
      animation: load $speed 0.6s infinite linear;
    }
    &:nth-child(12) {
      animation: load $speed 0.8s infinite linear;
    }
    &:nth-child(13) {
      animation: load $speed 1s infinite linear;
    }
    &:nth-child(14) {
      animation: load $speed 1.2s infinite linear;
    }
    &:nth-child(15) {
      animation: load $speed 1.4s infinite linear;
    }
  } 
}

